 body {
	background-color: black;
	color: white;
	font-family:sans-serif;
	margin: 0px;
}

header {
	clear: both;
	margin: 0px;
	width: 100%;
	background-color: rgb(66,66,66);
}

.title {
	text-align: center;
	font-size: 50px;
	padding: 15px 0px 15px 0px;
	margin: 0px;
}

#canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 500px;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}